<form class="px-3">
  <div class="form-group">
    <h3 class="h3 mb-3 font-weight-normal">Ministry Login</h3>
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      name="email"
      class="form-control mb-2"
      id="email"
      required
      placeholder="Email address"
    />

    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control mb-3"
      id="password"
      placeholder="Password"
      required
    />
  </div>

  <button type="submit" class="btn btn-lg btn-primary">Login</button>
</form>
