<div class="container py-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <h5 class="card-header text-center">Featured</h5>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="#">My Profile</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="#">Apply for Scholarchip</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="#">Check Status</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <app-guidelines></app-guidelines>
    </div>
  </div>
</div>
