<div class="container py-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <h5 class="card-header text-center">Featured</h5>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <a class="nav-link" href="ministrydashboard">Dashboard</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="schemedetails">Scheme Details</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="studentapplication"
              >Scholarship Applications</a
            >
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="institutelist">Institute Applications</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="card">
          <div class="card">
            <h5 class="card-header text-center">Scholarship Applications</h5>
            <div class="card-body p-4">
              <table class="table align-middle text-center">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Institute Id</th>
                    <th scope="col">Institute Code</th>
                    <th scope="col">Institute Name</th>
                    <th scope="col">Institute State</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>123456</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <div>
                        <button class="btn btn-secondary">View</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
