<div class="container py-5">
  <div class="card">
    <h5 class="card-header text-center">Scholarship Applications</h5>
    <div class="card-body">
      <table class="table align-middle text-center">
        <thead class="table-dark">
          <tr>
            <th scope="col">Institute Id</th>
            <th scope="col">Institute Code</th>
            <th scope="col">Institute Name</th>
            <th scope="col">Institute State</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>123456</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <div>
                <button class="btn btn-secondary">View</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
