<div class="card">
  <h4 class="card-header text-center">Frequently Asked Question</h4>
  <div class="card-body">
    <!-- <h3 class="text-center mt-2 mb-4"></h3> -->
    <div class="container">
      <p>
        <strong>Q1. Question Description </strong>
      </p>
      <p>
        <strong>Ans: </strong> lorem lorem lorem lorem lorem lorem lorem lorem
        lorem lorem lorem lorem lorem lorem lorem lorem
      </p>
      <p>
        <strong>Q2. Question Description </strong>
      </p>
      <p>
        <strong>Ans: </strong> lorem lorem lorem lorem lorem lorem lorem lorem
        lorem lorem lorem lorem lorem lorem lorem lorem
      </p>
      <p>
        <strong>Q3. Question Description</strong>
      </p>
      <p>
        <strong>Ans: </strong> lorem lorem lorem lorem lorem lorem lorem lorem
        lorem lorem lorem lorem lorem lorem lorem lorem
      </p>
      <p>
        <strong>Q4. Question Description</strong>
      </p>
      <p>
        <strong>Ans: </strong> lorem lorem lorem lorem lorem lorem lorem lorem
        lorem lorem lorem lorem lorem lorem lorem lorem
      </p>
      <p>
        <strong>Q5. Question Description</strong>
      </p>
      <p>
        <strong>Ans: </strong> lorem lorem lorem lorem lorem lorem lorem lorem
        lorem lorem lorem lorem lorem lorem lorem lorem
      </p>
      <p>
        <strong>Q6. Question Description</strong>
      </p>
      <p>
        <strong>Ans: </strong> lorem lorem lorem lorem lorem lorem lorem lorem
        lorem lorem lorem lorem lorem lorem lorem lorem
      </p>
      <p>
        <strong>Q7. Question Description</strong>
      </p>
      <p>
        <strong>Ans: </strong> lorem lorem lorem lorem lorem lorem lorem lorem
        lorem lorem lorem lorem lorem lorem lorem lorem
      </p>
    </div>
  </div>
</div>
