<div class="container py-5">
  <div class="card">
    <h4 class="card-header text-center">Institute Registration Form</h4>
    <div class="card-body px-4">
      <form>
        <h5 class="underline mb-3 mt-2">Basic Details:</h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label" for="Category">Institute Category</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Category</option>
              <option value="Government Institute">Government Institute</option>
              <option value="Private Institute">Private Institute</option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label" for="State">State</label>
            <select
              class="form-select"
              aria-label="Default select example"
              (change)="changeDistrict($event)"
            >
              <option *ngFor="let state of states" value="{{ state.state }}">
                {{ state.state }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="name" class="form-label">District</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select District</option>
              <option *ngFor="let district of districts" value="{{ district }}">
                {{ district }}
              </option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Name Of Institute</label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              required
            />
          </div>
          <div class="col-md-3">
            <label for="Institute Code" class="form-label"
              >Institute Code</label
            >
            <input
              type="text"
              name="Institute Code"
              class="form-control"
              id="Institute Code"
              required
            />
          </div>
          <div class="col-md-3">
            <label for="District Code" class="form-label">District Code</label>
            <input
              type="text"
              name="District Code"
              class="form-control"
              id="District Code"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="form-label" for="Location">Location</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Location</option>
              <option value="Rural">Rural</option>
              <option value="Urban">Urban</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-5">
            <label class="form-label" for="Institute Type"
              >Institute Type</label
            >
            <select class="form-select" aria-label="Default select example">
              <option selected>Type</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="col-md-5">
            <label class="form-label" for="Affiliated University State"
              >Affiliated University State</label
            >
            <select class="form-select" aria-label="Default select example">
              <option selected>Select State</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-7">
            <label for="Affiliated University/Board Name" class="form-label"
              >Affiliated University/Board Name</label
            >
            <input
              type="text"
              name="Affiliated University/Board Name"
              class="form-control"
              id="Affiliated University/Board Name"
              required
            />
          </div>
          <div class="col-md-5">
            <label class="form-label" for="Year"
              >Year From Which Admission Started</label
            >
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Year</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="password2" class="form-label">Confirm Password</label>
            <input
              type="password"
              name="password2"
              class="form-control"
              id="password2"
              required
            />
          </div>
        </div>
        <h5 class="underline mb-3 mt-4">Proof of Existence of Institute:</h5>
        <div class="row mb-3">
          <div class="col-md-8">
            <label for="formFile" class="form-label"
              >Institute Establishment/Registration Certificate</label
            >
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>
        <h5 class="underline mb-3 mt-4">Affiliated To:</h5>
        <div class="row mb-3">
          <div class="col-md-8">
            <label for="formFile" class="form-label"
              >University/Board Affiliation Certificate</label
            >
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>

        <h5 class="underline mb-3 mt-4">Address:</h5>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="Line 1" class="form-label">Address Line 1</label>
            <input
              type="text"
              name="Line 1"
              class="form-control"
              id="Line 1"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="Line 2" class="form-label">Address Line 2</label>
            <input
              type="text"
              name="Line 2"
              class="form-control"
              id="Line 2"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="City" class="form-label">City</label>
            <input
              type="text"
              name="City"
              class="form-control"
              id="City"
              required
            />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="Affiliated University State"
              >State</label
            >
            <select
              class="form-select"
              aria-label="Default select example"
              (change)="changeDistrict($event)"
            >
              <option *ngFor="let state of states" value="{{ state.state }}">
                {{ state.state }}
              </option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="name" class="form-label">District Name </label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select District</option>
              <option *ngFor="let district of districts" value="{{ district }}">
                {{ district }}
              </option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="Pincode" class="form-label">Pincode</label>
            <input
              type="text"
              name="Pincode"
              class="form-control"
              id="Pincode"
              required
            />
          </div>
        </div>

        <h5 class="underline mb-3 mt-4">Contact Details:</h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="name" class="form-label">Principal Name </label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              required
            />
          </div>
          <div class="col-md-4">
            <label for="number" class="form-label">Mobile Number </label>
            <input
              type="text"
              name="number"
              class="form-control"
              id="number"
              required
            />
          </div>
          <div class="col-md-4">
            <label for="Telephone" class="form-label">Telephone </label>
            <input
              type="text"
              name="Telephone"
              class="form-control"
              id="Telephone"
              required
            />
          </div>
        </div>
        <div class="form-check mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label
            class="form-check-label text-muted text-sm"
            for="flexCheckDefault"
          >
            All the details and documents submitted by us are valid and true if
            found guilty of submitting invalid documents we may be held
            responsible for that act by us.
          </label>
        </div>

        <div class="card-body px-1"></div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button type="submit" class="btn btn-dark px-4">Apply</button>
          <button type="submit" class="btn btn-outline-secondary px-4">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
