<div class="container p-5">
  <div class="card text-center">
    <h3 class="card-header bg-success text-white">Registrantion Successful</h3>
    <div
      class="card-body border border-top-0 border-success border-3 border-success border-3"
    >
      <h1 class="display-5">✔</h1>
      <h4 class="fw-bold mb-3">YOU HAVE SUCCESSFULLY REGISTERED!!</h4>
      <p class="lead mb-4">YOUR LOGIN ID IS YOUR AADHAR NUMBER</p>
      <a
        type="button"
        class="btn btn-outline-success btn-lg px-5 gap-3 mb-3"
        href="#"
        >Continue to Login</a
      >
    </div>
  </div>
</div>
